body,
html {
  background-image: url("../img/bg.jpg");
  background-size: cover;
  height: 85%;
}
.form-signin {
  max-width: 100%;
  padding: 15px;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(100, 148, 237, 0.193);
}
.header-full-width {
  width: 100%;
  text-align: center;
  background-color: rgba(100, 148, 237, 0.193);
  color: white;
  padding: 20px 0;
}

.header2 {
  color: rgb(237, 0, 166);
  font-weight: bolder;
}

.link {
  display: block;
  text-align: center;
  margin-top: 10px;
}

.bd-mode-toggle {
  z-index: 1500;
}

.centered-form {
  justify-content: center;
  align-items: center;
  height: 90%;
  overflow: hidden;
}
.form-control {
  background-color: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: #000;
}
@media (max-width: 768px) {
  .centered-form {
    height: auto;
  }

  .form-signin {
    max-width: 90%;
  }
}
