*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  color-scheme: light dark;
}
body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif;
}

.form-container,
.form-container3 {
  background-color: rgba(0, 0, 0, 0.479); /* Fondo negro semi-transparente */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  max-width: 400px;
  width: 100%;
  text-align: center;
  animation: fadein;
}
.form-container {
  color: white;
}
.form-container3 {
  color: rgb(176, 132, 132);
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* input {
  animation: slidein 0.5s ease;
} */

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: block;
  margin-bottom: 7px;
  font-size: 13px;
  color: rgb(213, 194, 194);
}

.form-group input {
  width: 80%;
  background-color: rgba(148, 143, 143, 0.6);
  padding: 7px;
  border: none;
  border-radius: 5px;
  font-size: 12px;
  color: rgb(213, 194, 194);
}

.form-group button,
.button1 {
  padding: 15px 15px;
  border: none;
  border-radius: 5px;
  background-color: #cd9719b3;
  color: white;
  font-size: 12px;
  cursor: pointer;
  box-shadow: darkgrey;
  transition: background-color 0.3s ease;
}

.form-group button:hover {
  background-color: #e7aa59ae;
}
.button1:hover {
  background-color: #e7aa59ae;
}
.link {
  margin-top: 2px;
  margin-bottom: 5px;
  justify-self: left;
  text-align: left;
  cursor: progress;
  color: darkkhaki;
}
.link:hover {
  color: #46a0ff;
  cursor: progress;
}

.header,
.header3,
.header5 {
  margin-bottom: 20px;
  font-size: 20px;
  text-shadow: darkgray;
}
.header {
  color: darkgrey;
}
.header3 {
  font-weight: bolder;
  color: rgb(19, 17, 17);
}
.header5 {
  font-weight: bolder;
  color: rgb(255, 255, 255);
}
.header2,
.header4 {
  margin-bottom: 10px;
  font-size: 22px;
  text-shadow: darkgray;
}
.header2 {
  font-weight: bold;
  color: rgb(240, 190, 190);
}
.header4 {
  font-weight: bolder;
  color: rgb(237, 0, 166);
}

label {
  text-align: center;
  font-size: small;
  color: rgb(213, 194, 194);
}

.jost header,
.form-container,
.link {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
input,
div,
.link {
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: slidein;
}

.hidden {
  opacity: 0;
  position: absolute;
  height: 0;
  width: 0;
  overflow: hidden;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes slidein {
  from {
    margin-left: 50%;
    width: 200%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

/* body,
html {
  background-image: url("../img/bg.jpg");
  background-size: cover;

  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #f0f0f089;
}
.container {
  display: flex;
  height: calc(100vh - 40px);
  width: calc(100% - 40px);
  margin: 20px;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: rgba(82, 80, 80, 0.304);
  box-sizing: border-box;
}
form {
  display: flex;
  gap: 10px;
  flex-wrap: wrap; 
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  min-width: 0;
  background-color: #cccccca0;
  color: black;
}

button {
  padding: 3px 6px;
  background-color: #cd9719b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  flex-shrink: 0;
}

button:hover {
  background-color: #e7aa59ae;
}

.hidden {
  display: none;
}
input,
div,
link {
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
  animation-name: slidein;
} */
